
# Keystore (NUNCA commitar!)
*.jks
*.keystore
*.p12
key.properties


# Node
node_modules/
.env
.env.local

# Logs
*.log
npm-debug.log*
.env

node_modules/
build/
ios/App/build/
ios/Pods/
uploads/
gcs-service-account.json
_archivecomm
_archive/
package-lock.json